html {
    height: 100%;
}

body {
    height: 100%;
    background-color:black;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.navbar{
    display:flex;
    justify-content:space-around;
    color:white;
    border:orange solid 5px;
}

.header{
    display:flex;
    justify-content:space-around;
    color:red;
    font-size:50px;
    font-family: 'Quicksand', sans-serif;
}

.social{
    display:flex;
    justify-content:space-around;
}

#copyright{
    display:flex;
    justify-content:flex-end;
    color:red;
}
a{
    color:yellow;
    text-decoration:none;
    margin:5px;
    font-family: 'Quicksand', sans-serif;
    }
a:hover{
    color:red;
    text-decoration: underline;
}

#home-main {
    display:flex;
    justify-content:center;
}

#home-img{
    width:100%;
    height:100%;
}

h1{
    color:white;
    padding:5px;
}

.aboutMain{
    display:flex;
}


.rightPane{
    width:50%;
    font-family: 'Quicksand', sans-serif;
    border:orange solid 1px;
    margin: 10px;
}

.pOne {
    color:red;
    padding:10px;
    width:50;
}

.aboutPic {
    width:95%;
    height:40%;
    padding:2.5%;
}

.leftPane{
    width:50%;
    font-family: 'Quicksand', sans-serif;
    border:orange solid 1px;
    margin: 10px;
}

.gallery{
    display:flex;
    justify-content:space-around;
}
.thumbnail-image {
    height:300px;
    width:300px;
    margin:10px;
    margin-top:20px;
    border: solid 2px red;
}